
ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
  margin-before: 0;
  margin-after: 0;
  margin-start: 0px;
  margin-end: 0px;
  padding-start: 0px;
}

li {
  list-style: none;
}

.red {
  color: red;
}

.green {
  color: green;
}

body {
}

.list-group-item.autoform-array-item{
  display:inline-block;
  border:none !important;
  width: calc(99%/3);
  padding:0;
  margin:0 auto;
}

.list-group-item.autoform-array-item.4pack{
  width: calc(99%/4);
}

.list-group-item.autoform-array-item.5pack{
  width: calc(99%/5);
}

.list-group-item.autoform-array-item.6pack{
  width: calc(99%/6);
}

.special {
  background: #337AB7;
  color: white;
  font-weight: bold;
  border: 2px solid #BDBABA;
}

.error {
  border: red solid 1px;
}

.error-span {
}

.navbar-default.lotto {
  //background-color: #337ab7;
}

.navbar-default.lotto a,
.navbar-default.lotto .navbar-nav > li > a{
  //color: white;
}

.navbar-default.lotto a:hover,
.navbar-default.lotto .navbar-nav > li > a:hover, .navbar-default.lotto .navbar-nav > li > a:focus{
  //color: yellow;
}

.navbar-default.lotto .navbar-toggle .icon-bar {
  //background-color: white;
}

.navbar-default.lotto .navbar-toggle,
.navbar-default.lotto .navbar-toggle:hover {
  //background-color: transparent;
}

.navbar-brand.logo {
  padding: 1px 15px;
}
@media (min-width: 768px) {
  a#forgot-password-link,
  a#signup-link {
    //color: green;
  }

  .navbar-default.lotto .navbar-nav > .open > a,
  .navbar-default.lotto .navbar-nav > .open > a:hover,
  .navbar-default.lotto .navbar-nav > .open > a:focus {
    //color: green;
  }
}

.loader-1 {
  width:100%;
  height:100%;
}

.list-group-item .badge {
  font-weight: normal;
  font-size: 14px;
}

.chooseGame input {

}

#login-dropdown-list a#signup-link {
}

.badge.match-highlight {
  background-color: red;
}