
<template name="allHits">
{{#if currentUser }}
  <div class="panel panel-info">
    <div class="panel-heading">Match History</div>
    <ul class="list-group">
      {{#each data}}
        <li class="list-group-item">
          <span class="red"><strong>{{this.title}}</strong></span>
          <span class="green"> you picked: </span>
          <span class="badge">{{this.picked}}</span>
          <br />
          <span class="green">Drawing for {{this.date}}</span>:
          <span class="green"> {{this.actual}}</span>

        </li>
      {{/each}}
    </ul>
  </div>
  {{/if}}
</template>

