
<template name="ltGrab">
  <h4>Latest Drawings</h4>
  <ul>
    {{#each data}}
      <li>
        <span class="green"><strong>{{this.game}}</strong></span>
      </li>
      <li>
        {{#if this.drawdate.day}}
          {{#if this.drawdate.day}}
            Day Draw:
            {{this.drawdate.day}}
          {{/if}}
          <br/>
          {{#if this.drawdate.eve}}
            Night Draw:
            {{this.drawdate.eve}}
          {{/if}}
        {{else}}
          Draw Date:
          {{this.drawdate}}
        {{/if}}
      </li>
      <li>
        {{#if this.winnum.day}}
          {{#if this.winnum.day}}
            Winning Number Day:
            <span class="red">{{this.winnum.day}}</span>
          {{/if}}
          <br/>
          {{#if this.winnum.eve}}
            Winning Number Night:
            <span class="red">{{this.winnum.eve}}</span>
          {{/if}}
        {{else}}

          Winning Number:
          <span class="red">{{this.winnum}}</span>
        {{/if}}
      </li>
      <hr/>
    {{/each}}
  </ul>
</template>
